body {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

/*??? ????? ?????*/
div .formEntry {
    margin: 40px;
    position: relative ;

}

.editableTable {
    border:solid 1px;

}

.editableTable td {
    border:solid 1px;
}

.editableTable .cellEditing {
    padding: 0;
}

.editableTable .cellEditing input[type=text]{
    border:0;
    background-color:rgb(255,253,210);
    position: absolute;
    text-overflow: ellipsis;
}

/*?????? ?? ???????? ????? ?????*/
.paddingTextTitle{
    margin-right: 20px;
}


#pos {
    position: relative;
}
/*???????*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1500px;
    max-width: 1500px;
    text-align: center;
    position: relative ;
    margin-top: 40px;

}

/*??text-overflow: ellipsis;??????? ?????*/
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 300px;
    max-width: 300px;
    height: 2em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    table-layout: fixed;
}



